<!DOCTYPE html>

<nav th:fragment="top-bar" class="navbar navbar-light bg-light navbar-expand-md pb-4 pt-4  shadow fixed-top"
  style="opacity: 0.95">
  <div class="container">
    <a class="navbar-brand mr-auto " href="/home">
      <img th:src="@{/images/logo.png}" class="d-inline-block mr-2" width="30" height="30" alt="" />
      <div class="d-inline-block mr-1 ">
        Algebra's <span><b>PALACE</b></span>
      </div>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-4">
          <a href="/home" class="nav-link"> HOME </a>
        </li>
        <li class="nav-item ml-4">
          <a href="#" class="nav-link">Feeling lucky</a>
        </li>
        <li class="nav-item ml-4">
          <a href="#" class="nav-link">My GitHub</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item mr-4 ml-4">
          <a href="#" class="nav-link ">Admin Page</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- FOOTER -->
<footer th:fragment="footer" class="page-footer font-small bg-dark mb-0"
  style="color: #e9ecef; padding-bottom: 4em ;  padding-top: 4em;">
  <div class="container text-center text-md-center">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">It seems like this is the end</h5>
        <p>
          i know. i know you want more.

          <small>someday there'll be more !
            <span class="badge badge-light p-1">i promise</span></small>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">here is a few things to do!</h5>

        <ul class="list-unstyled">
          <li>
            <a style="color: 	#008689" href="https://github.com/explore">browse GitHub</a>
          </li>
          <li>
            <a style="color: 	#008689" href="https://www.youtube.com/?feature=ytca">Watch Youtube</a>
          </li>
          <li>
            <a style="color: 	#008689" href="https://www.reddit.com">Read reddit</a>
          </li>
          <li>
            <a style="color: 	#008689" href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw">SUB to
              pewdiepie</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>