

.masthead {
    height: 90vh;
    min-height: 350px;
    background-image: url('https://raw.githubusercontent.com/CreeperExplosion/blog-images/master/3840x2160-baby-blue-solid-color-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.post-header{
  padding-top: 3em;
  padding-bottom: 1em;
}
.post{
  width: 80vw;
  text-align: center;
  margin: 2em auto;
  max-width: 650px;
}
